<link href="./css/style.css" rel="stylesheet" type="text/css">
<div class="top-section" style="background-color: <%= color %>">
    <div class="ps">
        <h1 style=font-size:200px> <%= name %></h1>
    </div>
</div>